<script>
  import { onMount } from "svelte";

  let iplist = [];

  function getip() {
    fetch("http://backapi:3030/backip")
      .then(resp => {
        return resp.json();
      })
      .then(ips => {
        iplist = ips;
        console.log(ips);
      });
  }

  function getanywaysip() {
    fetch("/backip")
      .then(resp => {
        return resp.json();
      })
      .then(ips => {
        iplist = ips;
        console.log(ips);
      });
  }
  onMount(async () => {
    getip();
  });
</script>

<style>
  button {
    width: 10%;
  }
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>

<main>
    <p>List of backend ip's:</p>
    <ul>
      {#each iplist as ip}
        <li>{ip}</li>
      {:else}No ip or response{/each}
    </ul>
    <button on:click={getip}>full url backcall</button>
    <button on:click={getanywaysip}>Just /backip call</button>
</main>
